.blogPostContainer {
    position: relative;
    width: 70vw;
    height: 400px;
    border: 2px solid black;
    background-color: cornflowerblue;
    overflow-y: auto;
    padding: 40px;
    margin: 30px;


}

.blogPostName{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 70px;
    align-self: start;
    align-content: center;
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
}

.blogPostProgress{

    padding-top: 30px;
    margin-left: -25px;
    left: 0;
    width: 100%;
    height: fit-content;
    align-self: start;

    text-align: left;
    font-size: 30px;
    /*border: 2px solid black;*/
}
.blogImages{
    margin-top: 90px;



}